.OptionsContainer {
  width: 100%;
  height: 50vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-popup-inner {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.settings-popup-title {
  padding-bottom: 4px;
}